*
*/
!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!groups.yaml
!customize.yaml
!configuration.yaml
!scripts.yaml
!automations.yaml
!www
!www/*
!switches/*.yaml
!sensors/*.yaml
sensors/*secret.yaml
sensors/*.disabled
!includes/*.yaml
includes/disabled
!custom_components
!custom_components/*
!components/*.yaml
!automations/*.yaml
automations/homeseer_5taps_secret.yaml
automations/*secret.yaml
automations/*.disabled
